body {
  align-items: center;
  display: flex;
  justify-content: center;
}

square {
  background: #0ad;
  color: #000;
  display: block;
  font-size: 18px;
  height: 300px;
  line-height: 300px;
  text-align: center;
  width: 500px;
}
